$IBMPlexSans: "IBM Plex Sans", sans-serif; // Body Text
$Oxanium: "Oxanium", sans-serif; // Sub headers
$ScienceGothic: "Science Gothic", sans-serif; // Main headers
$SmoochSans: "Smooch Sans", sans-serif; // Links

// root font 16px
// h1 h3 h5 = Main headers
// h2 h4 h6 = Subheaders

$h1:clamp(2.5rem, 5vw, 4rem);
$h3:clamp(2rem, 4.5vw, 3.5rem);
$h5:clamp(1.75rem, 4vw, 3rem);
$h2:clamp(1.5rem, 3.5vw, 2.5rem);
$h4:clamp(1.25rem, 3vw, 2rem);
$h6:clamp(1rem, 2.5vw, 1.5rem);

$body:clamp(0.875rem, 1vw, 1rem);