$IBMPlexSans: "IBM Plex Sans", sans-serif; // Body Text
$Oxanium: "Oxanium", sans-serif; // Sub headers
$ScienceGothic: "Science Gothic", sans-serif; // Main headers
$SmoochSans: "Smooch Sans", sans-serif; // Links