$bp:rgb(206, 190, 255);
$bs:rgb(243, 255, 189);
$bt:rgb(189, 254, 230);

$red:rgb(253, 188, 192);
$orange:rgb(254, 231, 189);
$yellow:rgb(255, 249, 189);
$green:rgb(190, 255, 190);
$blue:rgb(187, 246, 254);
$indigo:rgb(157, 151, 197);
$violet:rgb(228, 189, 254);

//gradients
$g1:rgb(245, 243, 254);
$g2:rgb(220, 208, 254);
$g3:rgb(191, 173, 255);
$g4:rgb(142, 122, 217);
$g5:rgb(82, 69, 122);
$g6:rgb(26, 23, 40);

//opacity
$o1:0.1;
$o2:0.2;
$o3:0.3;
$o4:0.4;
$o5:0.5;
$o6:0.6;
$o7:0.7;
$o8:0.8;
$o9:0.9;
$o0:0;
// gradients //

$header-gradient:linear-gradient(180deg, $bp 90%, $bt 100%); // header/footer gradient
$footer-gradient:linear-gradient(180deg, $bp 5%, $bt 90%);

// theming //
 $light-bg:$g1;
 $light-text:rgb($g5, $o6);
 $light-modules:rgb($g2, $o9);

 $dark-bg:$g6;
 $dark-text:rgb($g2, $o6);
 $dark-modules:rgb($g4, $o9);

//spacing
$space-xs:0.25rem;
$space-sm:0.5rem;
$space-md:1rem;
$space-lg:2rem;
$space-xl:4rem;
//
$padding:$space-md;
$margin:$space-lg;

$IBMPlexSans: "IBM Plex Sans", sans-serif; // Body Text
$Oxanium: "Oxanium", sans-serif; // Sub headers
$ScienceGothic: "Science Gothic", sans-serif; // Main headers
$SmoochSans: "Smooch Sans", sans-serif; // Links

// root font 16px
// h1 h3 h5 = Main headers
// h2 h4 h6 = Subheaders

$h1:clamp(2.5rem, 5vw, 4rem);
$h3:clamp(2rem, 4.5vw, 3.5rem);
$h5:clamp(1.75rem, 4vw, 3rem);
$h2:clamp(1.5rem, 3.5vw, 2.5rem);
$h4:clamp(1.25rem, 3vw, 2rem);
$h6:clamp(1rem, 2.5vw, 1.5rem);

$body:clamp(0.875rem, 1vw, 1rem);