@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

#sidebar{
    background-color:$light-modules;
    width:20vw;
    padding:$padding;
}

#sidebar-header{
    width:100%;
}

#sidebar img{
    width:75%;
    border-radius:50%;
}