@use '../abstracts/variables' as *;
.buttons{
    width:100%;
}

.buttons button{
    background:none;
    border:none;
    box-shadow:none;
    flex:1;
}

.nav-button{
    padding-right:$padding;
    padding-left:$padding;
    flex:1;
}
