@use '/sass/abstracts/mixins' as *;
@use '/sass/abstracts/variables' as *;
.popup-menu{
    display:none;
}

.popup-menu.active{
    @include wrapper-center;
    background-image:url("/assets/icons/system/cardbg.png");
    position:absolute;
    width:100%; 
    height:100%;
    inset:0;
}

.popup-card{
    width:50%;
}

.popup-close{
    width:100%;
}