@use '../abstracts/variables' as *;

@font-face{
    src: url("/assets/fonts/IBMPlexSans-VariableFont_wdth,wght.ttf");
    font-family: "IBM Plex Sans";
    font-weight:100 900;
    font-style:normal;
    font-display:swap;
}

@font-face{
    src: url("/assets/fonts/IBMPlexSans-Italic-VariableFont_wdth,wght.ttf");
    font-family: "IBM Plex Sans";
    font-weight:100 900;
    font-style:italic;
    font-display:swap;
}

@font-face{
    src: url("/assets/fonts/Oxanium-VariableFont_wght.ttf");
    font-family: "Oxanium";
    font-weight:100 900;
    font-style:normal;
    font-display:swap;
}

@font-face{
    src: url("/assets/fonts/ScienceGothic-VariableFont_CTRS,slnt,wdth,wght.ttf");
    font-family: "Science Gothic";
    font-weight:100 900;
    font-style:normal;
    font-display:swap;
}

@font-face{
    src: url("/assets/fonts/SmoochSans-VariableFont_wght.ttf");
    font-family: "Smooch Sans";
    font-weight:100 900;
    font-style:normal;
    font-display:swap;
}

// TEXT HIERARCHY //

body, p, li, span, input, textarea, b, strong, em, small, sub, sup{
    font-family: $IBMPlexSans;
}

a, button, .btn, .link{
    font-family:$SmoochSans;
}

h1, h3, h5{
    font-family:$ScienceGothic;
    text-decoration:underline;
    -webkit-text-stroke:2px $bp;
    text-shadow:0 5px 5px $bt;
}

h2, h4, h6{
    font-family:$Oxanium;
}

body, html{
    font-size:$body;
}

b{
    font-weight:600;
}

strong{
    font-weight:900;
}
i, em{
    font-style:italic;
}
em{
    letter-spacing:1px;
}
h1{
    font-size:$h1;
}

h2{
    font-size:$h2;
}

h3{
    font-size:$h3;
}

h4{
    font-size:$h4;
}

h5{
    font-size:$h5;
}

h6, a, button{
    font-size:$h6;
}

a, button{
    letter-spacing:1px;
    font-weight:500;
}

#header .fa{
    font-size:$body;
}