@font-face{
    src: url("/assets/fonts/IBMPlexSans-VariableFont_wdth,wght.ttf");
    font-family: "IBM Plex Sans";
    font-weight:100 900;
    font-style:normal;
    font-display:swap;
}

@font-face{
    src: url("/assets/fonts/IBMPlexSans-Italic-VariableFont_wdth,wght.ttf");
    font-family: "IBM Plex Sans";
    font-weight:100 900;
    font-style:italic;
    font-display:swap;
}

@font-face{
    src:url("/assets/fonts/Oxanium-VariableFont_wght.ttf");
    font-family: "Oxanium";
    font-weight:100 900;
    font-style:normal;
    font-display:swap;
}

@font-face{
    src:url("/assets/fonts/ScienceGothic-VariableFont_CTRS,slnt,wdth,wght.ttf");
    font-family: "Science Gothic";
    font-weight:100 900;
    font-style:normal;
    font-display:swap;
}

@font-face{
    src:url("/assets/fonts/SmoochSans-VariableFont_wght.ttf");
    font-family: "Smooch Sans";
    font-weight:100 900;
    font-style:normal;
    font-display:swap;
}