@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.light-theme{
    background-color:$light-bg;
    color:$light-text;
}

.dark-theme{
    background-color:$dark-bg;
    color:$dark-text;
}