@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.light-theme {
    background-color: $light-bg;
    color: $light-text;
}

.light-theme .fa {
    color: $dark-modules;
}

.light-theme a {
    color: $bp;
    --webkit-text-stroke:1px rgb($g6, $o3);
}

.light-theme button {
    @include text-stroke-1;
    color: $indigo;
}

.light-theme aside, .light-theme .post, .light-theme .popup-card{
    background-color:$light-modules;
}

.dark-theme .text-stroke-1 {
    @include dark-text-stroke-1;

}

.dark-theme aside, .light-theme .post, .dark-theme .popup-card{
    background-color:$dark-modules;
}

.dark-theme .text-stroke-2 {
    @include dark-text-stroke-2;
}

.dark-theme a {
    color: $violet;
    --webkit-text-stroke:1px rgb($g1, $o8);
}

.dark-theme .fa,
.dark-theme button {
    @include dark-text-stroke-1;
    color: rgb($g5, $o8);

}

.dark-theme {
    background-color: $dark-bg;
    color: $dark-text;
}


.dark-theme button {
    color: $violet;
}